<%= admin_header @conn, "Edit Assessment" %>

<div class="sa-admin-content">
  <%= if @changeset.action do %>
    <div class="pt-callout pt-intent-danger">
      Please fix the following problem
    </div>
  <% end %>
  <%= render "form.html",
        changeset: @changeset,
        method: "put",
        action: admin_assessment_path(@conn, :update, @id) %>
</div>
