<%= render "tabs.html", conn: @conn %>
<% assessments = @assessments
          |> Enum.sort_by(&(&1.name))
          |> Enum.sort_by(&(&1.priority))
          |> Enum.reverse %>
<%= for assessment <- assessments do %>
  <%= render SourceAcademyWeb.AssessmentView, "card.html",
        conn: @conn,
        assessment: assessment,
        submission: Enum.find(@submissions,
            &(&1.assessment_id == assessment.id)) %>
<% end %>
