<%= admin_header @conn, "New Achievement" %>

<div class="sa-admin-content">
  <div class="sa-panel">
    <div class="body">
      <%= render "form.html", changeset: @changeset,
            method: "post",
            action: admin_achievement_path(@conn, :create) %>
    </div>
  </div>
</div>
