h1,h2,h3,h4,h5,h6 {
  font-weight: 700 !important;
}

body {
  background: $sa-gray5;
}

header {
  background: linear-gradient(45deg, $sa-dark-blue, #192C39);
  position: fixed;
  top: 0px;
  z-index: 9;
  width: 100%;
}

.sa-main {
  position: relative;
  padding-top: 50px;
  min-height: 100vh;

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $light-gray4;
  }

  ::-webkit-scrollbar {
    width: 5px;
    background-color: $light-gray4;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $gray4;
    border: none;
  }
}

.sa-content {
  bottom: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0px;
  top: $pt-navbar-height;
}

.is-paddingless {
  padding-top: 0px !important;
}

.sa-status {
  padding: 20px;
}
