<%= for category <- @categories do %>
  <div class="sa-panel">
    <div class="heading">
      <%= category.name %>
    </div>
    <div class="body">
      <% materials = Enum.filter(@materials, &(&1.category_id == category.id)) %>
      <%= render "list.html", conn: @conn, materials: materials %>
    </div> <!-- .body  -->
  </div>
<% end %>
