<%= admin_header @conn, "Upload Material" %>

<div class="sa-admin-content">
  <div class="sa-panel">
    <div class="heading">
      Upload Material
    </div>
    <div class="body">
      <%= render "form.html",
          conn: @conn,
          categories: @categories,
          changeset: @changeset %>
    </div>
  </div>
</div>
